data/A Database of Leaf Images Practice towards Plant Conservation with Plant Pathology.zip
data/Gauva (P3)/
data/Test Numpy/
data/Test Indices/
data/Test Labels/
data/NDVI Indices/
models/checkpoints/
tests/
